<div class="content-wrapper hide-until-loading">
  <div class="body-wrapper">
    <div class="section-content no-padding section-color-gray">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 animated" data-animtype="fadeInUp"
             data-animrepeat="0"
             data-speed="1s"
             data-delay="0.4s">
            <h2 class="h2-section-title">About the World Pro Skiing Foundation</h2>
            <div class="space-sep20"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="space-sep20"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 no-bottom-margin">
          <%=image_tag "photos/action_crop.jpg", class:"img-responsive centered margin-bottom-20" %>
        </div>
        <div class="col-md-6 col-sm-6 no-bottom-margin">
            
          <div class="title-block clearfix">
            <h3 class="h3-body-title margin-bottom-5">Our Mission</h3>
            <div class="title-seperator"></div>
          </div>
          <p>
            The World Pro Skiing Foundation creates World Class People, helping mentor elite athletes for their post 
            athletic careers, building character and competence, channeling and leveraging the unique attributes of 
            these high achievers as they transition to making world class contributions to society.
          </p>
          <div class="space-sep20"></div>
          <div class="title-block clearfix">
            <h3 class="h3-body-title margin-bottom-5">Our History</h3>
            <div class="title-seperator"></div>
          </div>
          <p>
            World Pro Skiing was the professional ski racing tour created in 1969 by ski racing pioneer and 
            broadcasting impresario Bob Beattie.   For Beattie, who built the US Ski Team, co-founded the World Cup, 
            his wholly-owned tour, World Pro Skiing, provided the means for ski racers to independently compete for 
            prize money in an era when the sport was otherwise tightly controlled by national teams consisting of "amateurs."
            These swashbuckling pro athletes, as they were labeled, learned the discipline necessary to combine athletics with 
            life's nuanced realities, including how to work with sponsors and fans in endearing ways that led many to 
            build the networks to foster their post ski racing careers.
          </p>
          <p>
            The nucleus of the World Pro Skiing Foundation includes many of these individuals, uniquely qualified for this mission.
          </p>
        </div>
      </div>
    </div>

    <div class="space-sep20"></div>
      

    <div class="container">
      <div class="row">

        <div class="col-md-6 col-sm-6 animated" data-animtype="fadeInLeft"
           data-animrepeat="0"
           data-animspeed="1s"
           data-animdelay="0.2s">

          <div class="title-block clearfix">
            <div class="anchor">
              <a name="strategy" class="anchor">&nbsp;</a>
            </div>
            <h3 class="h3-body-title margin-bottom-5">Our Strategy</h3>
            <div class="title-seperator"></div>
          </div>
          <p>
            Working closely with team leaders, the World Pro Skiing Foundation organizes events for elite athletes 
            to engage with business and thought-leaders in an effort to prepare them for post athletic careers.
          </p>

          <p>
            World-class athletes possess extraordinarily high levels of commitment, focus, and dedication to honing skills 
            in search of perfection. And they have the competitive juices and ambition to win. As in business, team sports 
            require collaboration, blending skills used in concert with others to reach a superior outcome. These skills 
            are honed and blended by coaches, as they are by CEO's.
          </p>

          <p>
            These qualities are essential in athletics, and are coveted in the business world.   Business leaders, 
            whose responsibilities include building teams of talented people, become the next coaches, guiding and encouraging 
            these individuals through their transition from athletics to business, from adulation to the realities of life after
            the applause.  Simultaneously, businesses can leverage the unique attributes of today's elite athletes to become the
            business and civic leaders of tomorrow. 
          </p>
        </div>

        <div class="col-md-6 col-sm-6 animated" data-animtype="fadeInRight"
           data-animrepeat="0"
           data-animspeed="1s"
           data-animdelay="0.2s">
          <div class="title-block clearfix">
            <h3 class="h3-body-title">Our Offerings</h3>
            <div class="title-seperator"></div>
          </div>
          <div class="accordion" data-toggle="off" data-active-index="0">
            <div class="accordion-row">
              <div class="title">
                <div class="open-icon"></div>
                <h4>Workshops</h4>
              </div>
              <div class="desc">Focus on responsibility, civic contribution, leadership, values</div>
            </div>

            <div class="accordion-row">
              <div class="title">
                <div class="open-icon"></div>
                <h4>Mentors</h4>
              </div>
              <div class="desc">Executives matched with athletes for regular interaction</div>
            </div>

            <div class="accordion-row">
              <div class="title">
                <div class="open-icon"></div>
                <h4>Roundtables</h4>
              </div>
              <div class="desc">Inspirational leader interaction</div>
            </div>
            
            <div class="accordion-row">
              <div class="title">
                <div class="open-icon"></div>
                <h4>Internships</h4>
              </div>
              <div class="desc">Get inside the movements of today’s corporations</div>
            </div>
            
            <div class="accordion-row">
              <div class="title">
                <div class="open-icon"></div>
                <h4>Symposia</h4>
              </div>
              <div class="desc">Bring together groups of leaders with elite athletes to share perspectives
                 of specific areas of business management and leadership, of values and civic responsibilities</div>
            </div>
            
          </div>
        </div>
      </div>

      <div class="space-sep20"></div>

      <div class="row">      
        <div class="col-md-12 col-sm-12">
          <div class="title-block clearfix">
            <h3 class="h3-body-title">Our Board</h3>
            <div class="title-seperator"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 col-sm-3">
          <div class="team-member">
            <div class="team-member-image">
              <%=image_tag "placeholders/team-placeholder.jpg"%>
            </div>
            <div class="team-member-content">
              <h3 class="team-member-name h3-body-title">
                Mike Hundert
              </h3>
              <div class="team-member-position">
                Chairman
              </div>
              <div class="team-member-short-bio">
                <ul>
                  <li><span>Director (and The Voice) of World Pro Skiing 1977-1981</span></li>
                  <li><span>Ski writer and broadcast journalist 1975-1990</span></li>
                  <li><span>CEO, Rem Eyewear, a global distributor of fashion eyewear</span></li>
                  <li><span>Vice Chairman of The Vision Council</span></li>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-3">
          <div class="team-member">
            <div class="team-member-image">
              <%=image_tag "people/ChristinCooper.jpg"%>
            </div>
            <div class="team-member-content">
              <h3 class="team-member-name h3-body-title">
                Christin Cooper
              </h3>              
              <div class="team-member-position">
                Board Member
              </div>
              <div class="team-member-short-bio">
                <ul>
                  <li><span>2-time Olympian &amp; 1984 Olympic Silver Medalist, giant slalom</span></li>
                  <li><span>Triple World Championship Medalist</span></li>
                  <li><span>US Ski Team Member 1977-1984</span></li>
                  <li><span>Alpine Skiing Expert Broadcast Analyst (World Cup, World Champs &amp; Olympics) 1985 - present</span></li>
                  <li><span>Restaurateur. Founding partner Montana Ale Works &amp; MacKenzie River Pizza Co, Bozeman MT</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-3">
          <div class="team-member">
            <div class="team-member-image">
              <%=image_tag "people/MarkTache.jpg" %>
            </div>
            <div class="team-member-content">
              <h3 class="team-member-name h3-body-title">
                Mark Tache 
              </h3>
              <div class="team-member-position">
                Board Member
              </div>
              <div class="team-member-short-bio">
                <ul>
                  <li><span>US Ski Team, 1978-1985</span></li>
                  <li><span>2-time World Championship Team member</span></li>
                  <li><span>Pro Ski Racer, 1987-1992</span></li>
                  <li><span>Member Colorado Ski Hall of Fame</span></li>
                  <li><span>Sports Management &amp; Financial Consultant - Irons Brothers Management Group (world pro surfing 1995 - 2007) </span></li>
                  <li><span>Restaurateur. Founding partner Montana Ale Works &amp; MacKenzie River Pizza Co, Bozeman MT</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-3">
          <div class="team-member">
            <div class="team-member-image">
              <%=image_tag "people/BobBeattie.jpg" %>
            </div>
            <div class="team-member-content">
              <h3 class="team-member-name h3-body-title">
                Bob Beattie 
              </h3>

              <div class="team-member-position">
                Board Member
              </div>
              <div class="team-member-short-bio">
                <ul>
                  <li><span>The "Grandfather of American Ski Racing"</span></li>
                  <li><span>Hall-of-Famer</span></li>
                  <li><span>Coached the US Ski Team 1961-1969</span></li>
                  <li><span>Co-founded the Alpine World Cup</span></li>
                  <li><span>Founded World Pro Skiing</span></li>
                  <li><span>ABC and ESPN commentator for 40 years, including four Winter Olympics</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-md-3 col-sm-3">
          <div class="team-member">
            <div class="team-member-image">
              <%=image_tag "people/OttoTschudi.jpg"%>
            </div>
            <div class="team-member-content">
              <h3 class="team-member-name h3-body-title">
                Otto Tschudi 
              </h3>

              <div class="team-member-position">
                Board Member
              </div>
              <div class="team-member-short-bio">
                <ul>
                  <li><span>Two-time Olympian for Norway in alpine skiing</span></li>
                  <li><span>World Pro Skiing Tour 1973-1981</span></li>
                  <li><span>All American at Denver University</span></li>
                  <li><span>Board Member, Denver University</span></li>
                </ul>

              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-3">
          <div class="team-member">
            <div class="team-member-image">
              <%=image_tag "placeholders/team-placeholder.jpg"%>
            </div>
            <div class="team-member-content">
              <h3 class="team-member-name h3-body-title">
                Jim Lillstrom 
              </h3>

              <div class="team-member-position">
                Board Member
              </div>
              <div class="team-member-short-bio">
                <ul>
                  <li><span>Public Relations Director, World Pro Skiing, 1970-1973</span></li>
                  <li><span>Ski Industry marketing executive</span></li>
                </ul>

              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-3">
          <div class="team-member">
            <div class="team-member-image">
              <%=image_tag "people/AndreArnold.jpg" %>
            </div>
            <div class="team-member-content">
              <h3 class="team-member-name h3-body-title">
                Andre Arnold
              </h3>

              <div class="team-member-position">
                Board Member
              </div>
              <div class="team-member-short-bio">
                <ul>
                  <li><span>World Pro Skiing Champion, 1977-1981</span></li>
                  <li><span>Owner of ski lodges in Solden, Austria</span></li>
                </ul>

              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-3">
          <div class="team-member">
            <div class="team-member-image">
              <%=image_tag "placeholders/team-placeholder.jpg" %>
            </div>
            <div class="team-member-content">
              <h3 class="team-member-name h3-body-title">
                Will Weinstein 
              </h3>

              <div class="team-member-position">
                Board Member
              </div>
              <div class="team-member-short-bio">
                <ul>
                  <li><span>Co-Founder, EVP, Strategy & Business Development, Hyperlayer, Inc.</span></li>
                  <li><span>Founder/Owner, Center of Excellence for Global Business Development</span></li>
                </ul>

              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-md-3 col-sm-3"></div>
        <div class="col-md-3 col-sm-3">
          <div class="team-member">
            <div class="team-member-image">
              <%=image_tag "people/FranzWeber.jpg"%>
            </div>
            <div class="team-member-content">
              <h3 class="team-member-name h3-body-title">
                Franz Weber
              </h3>

              <div class="team-member-position">
                Board Member
              </div>
              <div class="team-member-short-bio">
                <ul>
                  <li><span>President, Franz Weber, Inc.</span></li>
                  <li><span>Six-Time World Speed Skiing Champion</span></li>
                  <li><span>Current North American Speed Skiing Record Holder</span></li>
                  <li><span>Austrian Olympian, 1992</span></li>
                  <li><span>World Pro Skiing Tour Competitor, 1978-1981</span></li>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-3">
          <div class="team-member">
            <div class="team-member-image">
              <%=image_tag "placeholders/team-placeholder.jpg"%>
            </div>
            <div class="team-member-content">
              <h3 class="team-member-name h3-body-title">
                Richie Woodworth 
              </h3>

              <div class="team-member-position">
                Board Member
              </div>
              <div class="team-member-short-bio">
                <ul>
                  <li><span>Member US Ski Team, 3x National Junior Champion</span></li>
                  <li><span>Member World Pro Skiing Tour 1979-82</span></li>
                  <li><span>Featured Color Analyst NBC Sportsworld, ESPN</span></li>
                  <li><span>Top Ranking American Professional 1980/81, Fourth Worldwide</span></li>
                  <li><span>Former President National Hockey League Enterprises</span></li>
                  <li><span>Current President Saucony, a division of Wolverine Worldwide</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-3"></div>


      </div>
    </div>
  </div>
</div><!--.content-wrapper end -->