<div class="content-wrapper hide-until-loading">
  <div class="body-wrapper">
    <div class="section-content no-padding section-color-gray">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 animated" data-animtype="fadeInUp"
             data-animrepeat="0"
             data-speed="1s"
             data-delay="0.4s">
            <h2 class="h2-section-title">About the World Pro Skiing Foundation</h2>
            <div class="space-sep20"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="space-sep20"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 no-bottom-margin animated" data-animtype="fadeInLeft"
           data-animrepeat="0"
           data-animspeed="1s"
           data-animdelay="0.7s">
          <%=image_tag "photos/action_crop.jpg", alt:"MockUp", class:"img-responsive centered" %>
        </div>
        <div class="col-md-6 col-sm-6 no-bottom-margin animated" data-animtype="fadeInRight"
           data-animrepeat="0"
           data-animspeed="1s"
           data-animdelay="0.7s">
          
          <div class="title-block clearfix">
            <a name="mission"><h3 class="h3-body-title">Our Mission</h3></a>
            <div class="title-seperator"></div>
          </div>
          <p>
            Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets. Sed ut perspiciatis unde omnis iste natus error sit 
            voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit 
            aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui.
          </p>
          <p>
            voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit 
            aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui.
          </p>
          <p>
            voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit 
            aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui.
          </p>
        </div>
      </div>
    </div>

    <div class="space-sep20"></div>
      

    <div class="container">
      <div class="row">

        <div class="col-md-6 col-sm-6">

          <div class="title-block clearfix">
            <a name="strategy"><h3 class="h3-body-title">Our Strategy</h3></a>
            <div class="title-seperator"></div>
          </div><div class="accordion" data-toggle="off" data-active-index="0">


            <div class="accordion-row">

              <div class="title">
                <div class="open-icon"></div>
                <h4>In enim justo, rhoncus ut ?</h4>
              </div>
              <div class="desc">Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut.</div>
            </div>


            <div class="accordion-row">

              <div class="title">
                <div class="open-icon"></div>
                <h4>Cum sociis natoque penatibus ?</h4>
              </div>
              <div class="desc">Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.</div>
            </div>


            <div class="accordion-row">

              <div class="title">
                <div class="open-icon"></div>
                <h4>In hac habitasse platea dictumst. ?</h4>
              </div>
              <div class="desc">Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh.</div>
            </div>


          </div>      
        </div>

        <div class="col-md-6 col-sm-6">
          <div class="title-block clearfix">
            <h3 class="h3-body-title">Our Goals</h3>
            <div class="title-seperator"></div>
          </div>
          <div class="progress">
            <div class="progress-bar animated" role="progressbar" aria-valuenow="100%" 
               aria-valuemin="0" aria-valuemax="100"
               data-animtype="animate-progress"
               data-animrepeat="0">

              <span class="sr-only">Remembering</span>
            </div>
          </div>
          <div class="progress">
            <div class="progress-bar animated" role="progressbar" aria-valuenow="100%" 
               aria-valuemin="0" aria-valuemax="100"
               data-animtype="animate-progress"
               data-animrepeat="0">

              <span class="sr-only">Reconnecting</span>
            </div>
          </div>
          <div class="progress">
            <div class="progress-bar animated" role="progressbar" aria-valuenow="100%" 
               aria-valuemin="0" aria-valuemax="100"
               data-animtype="animate-progress"
               data-animrepeat="0">

              <span class="sr-only">Sponsoring</span>
            </div>
          </div>
          <div class="progress">
            <div class="progress-bar animated" role="progressbar" aria-valuenow="100%" 
               aria-valuemin="0" aria-valuemax="100"
               data-animtype="animate-progress"
               data-animrepeat="0">

              <span class="sr-only">Evolving</span>
            </div>
          </div>
        </div>
      </div>

      <div class="space-sep40"></div>

      <div class="row">      
        <div class="col-md-12 col-sm-12">
          <div class="title-block clearfix">
            <h3 class="h3-body-title">Our Board</h3>
            <div class="title-seperator"></div>
          </div>        <p>
            Malesuada tortor, nec scelerisque lorem mattis. Nunc et rutrum consetetur sadipscing elitr, sed diam nonumy at volutpat. Sed consectetur suscipit lorem nunc.adipiscing elit. Integer commodo tristique odio, quis fringilla ligula aliquet ut. Maecenas sed justo varius velit imperdiet bibendum et rutrum.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 col-sm-3">
          <div class="team-member">
            <div class="team-member-image img-overlay">
              <%=image_tag "placeholders/team-placeholder.jpg"%>

              <div class="item-img-overlay">
                <div class="social-icons item_img_overlay_content">

                  <a href="#" title="ember" target="_blank" class="social-media-icon ember-icon">ember</a>
                  <a href="#" title="pininterest" target="_blank" class="social-media-icon pininterest-icon">pininterest</a>
                  <a href="#" title="youtube" target="_blank" class="social-media-icon youtube-icon">youtube</a>
                  <a href="#" title="zerply" target="_blank" class="social-media-icon zerply-icon">zerply</a>


                </div>

              </div>
            </div>
            <div class="team-member-content">
              <h3 class="team-member-name h3-body-title">
                Charlie Barns
              </h3>

              <div class="team-member-position">
                Director
              </div>
              <div class="team-member-short-bio">
                At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata 
                sanctus est Lorem ipsum dolor sit amet
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-3">
          <div class="team-member">
            <div class="team-member-image img-overlay">
              <%=image_tag "placeholders/team-placeholder.jpg"%>

              <div class="item-img-overlay">
                <div class="social-icons item_img_overlay_content">

                  <a href="#" title="mail" target="_blank" class="social-media-icon mail-icon">mail</a>
                  <a href="#" title="reddit" target="_blank" class="social-media-icon reddit-icon">reddit</a>


                </div>

              </div>
            </div>
            <div class="team-member-content">
              <h3 class="team-member-name h3-body-title">
                Fred Bloggs
              </h3>

              <div class="team-member-position">
                Secretary
              </div>
              <div class="team-member-short-bio">
                At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata 
                sanctus est Lorem ipsum dolor sit amet
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-3">
          <div class="team-member">
            <div class="team-member-image img-overlay">
              <%=image_tag "placeholders/team-placeholder.jpg" %>

              <div class="item-img-overlay">
                <div class="social-icons item_img_overlay_content">

                  <a href="#" title="blogger" target="_blank" class="social-media-icon blogger-icon">blogger</a>
                  <a href="#" title="vimeo" target="_blank" class="social-media-icon vimeo-icon">vimeo</a>
                  <a href="#" title="linkedin" target="_blank" class="social-media-icon linkedin-icon">linkedin</a>


                </div>

              </div>
            </div>
            <div class="team-member-content">
              <h3 class="team-member-name h3-body-title">
                Jecson Smith
              </h3>

              <div class="team-member-position">
                Treasurer
              </div>
              <div class="team-member-short-bio">
                At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata 
                sanctus est Lorem ipsum dolor sit amet
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-3">
          <div class="team-member">
            <div class="team-member-image img-overlay">
              <%=image_tag "placeholders/team-placeholder.jpg" %>

              <div class="item-img-overlay">
                <div class="social-icons item_img_overlay_content">

                  <a href="#" title="instagram" target="_blank" class="social-media-icon instagram-icon">instagram</a>
                  <a href="#" title="ember" target="_blank" class="social-media-icon ember-icon">ember</a>
                  <a href="#" title="blogger" target="_blank" class="social-media-icon blogger-icon">blogger</a>


                </div>

              </div>
            </div>
            <div class="team-member-content">
              <h3 class="team-member-name h3-body-title">
                John Doe
              </h3>

              <div class="team-member-position">
                Friend
              </div>
              <div class="team-member-short-bio">
                At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata 
                sanctus est Lorem ipsum dolor sit amet
              </div>
            </div>
          </div>
        </div>

      </div>


    </div>
  </div>
</div><!--.content-wrapper end -->