<div class="content-wrapper hide-until-loading">
  <div class="body-wrapper">
    <div class="section-content no-padding section-color-gray">
      <div class="container">

        <div class="row">
          <div class="col-md-12 col-sm-12 animated"  data-animtype="fadeInUp"
             data-animrepeat="0"
             data-speed="1s"
             data-delay="0.4s">
            <h2 class="h2-section-title">Support the World Pro Skiing Foundation</h2>
            <div class="i-section-title"></div>

            <h3 class="h3-section-info">
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
              laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et
              quasi architecto beatae vitae dicta sunt explicabo.
            </h3>

          </div>
        </div>

        <div class="row">
          <div class="col-md-12 col-sm-12 animated"  data-animtype="bounceIn"
           data-animrepeat="0"
           data-delay="2s">
            <form name="PrePage" method = "post" action = "https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx" style="width:180px;" class="centered"> 
              <input type = "hidden" name = "LinkId" value ="f7b7bf9d-7d64-487f-8781-3391d802cf47" /> 
              <input type = "submit" value="Make A Donation" class="button btn-flat" /> 
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="space-sep20"></div>      
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 no-bottom-margin animated" data-animtype="fadeInUp"
           data-animrepeat="0"
           data-animspeed="1s"
           data-animdelay="0.7s">
          <%=image_tag "photos/air_crop.jpg", alt:"MockUp", class:"img-responsive full-width" %>
        </div>
      </div>
    </div>


    <div class="space-sep20"></div>
    <div class="section-content no-padding section-color-gray">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 animated" data-animtype="fadeInDown"
             data-animrepeat="0"
             data-speed="1s"
             data-delay="0.2s" visible="true">
            <h2 class="h2-section-title">Our Donors </h2>
            <div class="i-section-title"></div>
            <ul class="section-clients">

              <li class="animated" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.2s"><%=image_tag "placeholders/clients/logo1.png", alt:"Logo", class:"img-responsive client-image" %></li>
              <li class="animated" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.3s"><%=image_tag "placeholders/clients/logo2.png", alt:"Logo", class:"img-responsive client-image" %></li>
              <li class="animated" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.4s"><%=image_tag "placeholders/clients/logo3.png", alt:"Logo", class:"img-responsive client-image" %></li>
              <li class="animated" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.5s"><%=image_tag "placeholders/clients/logo4.png", alt:"Logo", class:"img-responsive client-image" %></li>
              <li class="animated" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.6s"><%=image_tag "placeholders/clients/logo5.png", alt:"Logo", class:"img-responsive client-image" %></li>
            </ul>
          </div>
        </div>
      </div>

    </div>
    <div class="space-sep20"></div>
  </div>
</div><!--.content-wrapper end -->