<div class="content-wrapper hide-until-loading">
  <div class="section-content top-body">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-3"> 
          <div class="content-box content-style4 medium animated"
             data-animtype="fadeIn"
             data-animrepeat="0"
             data-animspeed="1s"
             data-animdelay="0.2s"
             >
            <%=link_to about_path do %>
              <h4 class="h4-body-title">
                <i class="icon-book-read-streamline"></i>
                History
              </h4>
            <%end%>
            <div class="content-box-text">
              World Pro Skiing was the professional ski racing tour created in 1969 by ski 
              racing pioneer and broadcasting impresario Bob Beattie. 
              <div>
                <%=link_to about_path, class:"btn btn-sm" do %>
                  <span>read more</span>
                <%end%>
              </div>

            </div>

          </div>
        </div>
        <div class="col-md-3 col-sm-3"> 
          <div class="content-box content-style4 medium animated"
             data-animtype="fadeIn"
             data-animrepeat="0"
             data-animspeed="1s"
             data-animdelay="0.2s"
             >
            <%=link_to root_path(anchor:"mission") do %>
              <h4 class="h4-body-title">
                <i class="icon-bulb"></i>
                Mission
              </h4>
            <%end%>
            <div class="content-box-text">
              The World Pro Skiing Foundation brings business leaders together with world-class athletes
              to develop these exceptional young people into the leaders of tomorrow.

              <div>
                <%=link_to root_path(anchor:"mission"), class:"btn btn-sm" do %>
                  <span>read more</span>
                <%end%>
              </div>

            </div>

          </div>
        </div>
        <div class="col-md-3 col-sm-3"> 
          <div class="content-box content-style4 medium animated"
             data-animtype="fadeIn"
             data-animrepeat="0"
             data-animspeed="1s"
             data-animdelay="0.2s"
             >
            <%=link_to about_path(anchor:"strategy") do %>
              <h4 class="h4-body-title">
                <i class="icon-dashboard-speed-streamline"></i>
                Strategy
              </h4>
            <%end%>
            <div class="content-box-text">
              The World Pro Skiing Foundation organizes events for elite athletes
              to engage with business and thought-leaders in an effort to prepare them for post athletic careers.

              <div>
                <%=link_to about_path(anchor:"strategy"), class:"btn btn-sm" do %>
                  <span>read more</span>
                <%end%>
              </div>

            </div>

          </div>
        </div>
        <div class="col-md-3 col-sm-3"> 
          <div class="content-box content-style4 medium animated"
             data-animtype="fadeIn"
             data-animrepeat="0"
             data-animspeed="1s"
             data-animdelay="0.2s"
             >
            <%=link_to donate_path do %>
              <h4 class="h4-body-title">
                <i class="icon-like"></i>
                Donate
              </h4>
            <%end%>
            <div class="content-box-text">
              If our mission resonates, please consider joining us as we work to build the bridges 
              between sport and industry, athletes and business leaders.
              <div>
                <%=link_to donate_path, class:"btn btn-sm" do %>
                  <span>read more</span>
                <%end%>
              </div>

            </div>

          </div>
        </div>

      </div>
    </div>

  </div>
  <div class="body-wrapper">

    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 animated" data-animtype="flipInY"
           data-animrepeat="0"
           data-speed="1s"
           data-delay="0.5s">
          <h2 class="h2-section-title">Photos</h2>

          <div class="i-section-title">
            <i class="icon-camera-1">

            </i>
          </div>

          <div class="space-sep20"></div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="portfolio-items">

            <!-- Portfolio Item -->
            <div class="thumb-label-item animated seo"
               data-animtype="fadeInUp"
               data-animrepeat="0"
               data-speed="1s"
               data-delay="0.6s">
              <div class="img-overlay thumb-label-item-img">
                <%=image_tag "photos/friends.jpg", alt:""%>

                <div class="item-img-overlay">
                  <a class="portfolio-zoom fa fa-plus"
                   href="<%=asset_path("photos/friends.jpg")%>"
                   data-rel="prettyPhoto[portfolio]" title="Bob Beattie was coach of the US Ski team at the 1964 Olympics when Billy Kidd (left), and Jimmy Huega, won silver and bronze in the slalom.  Beattie went on to co-create the World Cup, and then the World Pro Skiing Tour. He is likely best known for his 40 years as a sports competitor for ABC and ESPN"></a>

                  <div class="item_img_overlay_content">
                    <h3 class="thumb-label-item-title">
                      Beattie, Kidd, and Huega
                    </h3>
                  </div>

                </div>
              </div>


            </div>
            <!-- //Portfolio Item// -->
            <!-- Portfolio Item -->
            <div class="thumb-label-item animated seo"
               data-animtype="fadeInUp"
               data-animrepeat="0"
               data-speed="1s"
               data-delay="0.8s">
              <div class="img-overlay thumb-label-item-img">
                <%=image_tag "photos/andre.jpg", alt:""%>

                <div class="item-img-overlay">
                  <a class="portfolio-zoom fa fa-plus"
                   href="<%=asset_path("photos/andre.jpg")%>"
                   data-rel="prettyPhoto[portfolio]" title="Andre Arnold at the 1980 Michelob Light Cup at Aspen.  Andre wears bib number one, indicating that he is the reigning World Pro Skiing Champion."></a>

                  <div class="item_img_overlay_content">
                    <h3 class="thumb-label-item-title">
                      Andre Arnold
                    </h3>
                  </div>

                </div>
              </div>


            </div>
            <!-- //Portfolio Item// -->
            <!-- Portfolio Item -->
            <div class="thumb-label-item animated seo"
               data-animtype="fadeInUp"
               data-animrepeat="0"
               data-speed="1s"
               data-delay="1s">
              <div class="img-overlay thumb-label-item-img">
                <%=image_tag "photos/air.jpg", alt:""%>

                <div class="item-img-overlay">
                  <a class="portfolio-zoom fa fa-plus"
                   href="<%=asset_path("photos/air.jpg")%>"
                   data-rel="prettyPhoto[portfolio]" title="Swiss Manfred Jakober flies off a pro jump in the 1976 Budweiser Cup in Aspen."></a>

                  <div class="item_img_overlay_content">
                    <h3 class="thumb-label-item-title">
                      Manfred Jakober
                    </h3>
                  </div>

                </div>
              </div>


            </div>
            <!-- //Portfolio Item// -->
            <!-- Portfolio Item -->
            <div class="thumb-label-item animated branding"
               data-animtype="fadeInUp"
               data-animrepeat="0"
               data-speed="1s"
               data-delay="1.2s">
              <div class="img-overlay thumb-label-item-img">
                <%=image_tag "photos/celebrate.jpg", alt:""%>

                <div class="item-img-overlay">
                  <a class="portfolio-zoom fa fa-plus"
                   href="<%=asset_path("photos/celebrate.jpg")%>"
                   data-rel="prettyPhoto[portfolio]" title="George Ager celebrates victory in S&#246;ll, Austria, atop the shoulders of racing friends Dave Stapelton (number 20), and Hans Hinterseer (number 16), with countryman Andre Arnold (right) looking on."></a>

                  <div class="item_img_overlay_content">
                    <h3 class="thumb-label-item-title">
                      George Ager
                    </h3>
                  </div>

                </div>
              </div>


            </div>
            <!-- //Portfolio Item// -->
            <!-- Portfolio Item -->
            <div class="thumb-label-item animated branding"
               data-animtype="fadeInUp"
               data-animrepeat="0"
               data-speed="1s"
               data-delay="1.4s">
              <div class="img-overlay thumb-label-item-img">
                <%=image_tag "photos/face.jpg", alt:""%>

                <div class="item-img-overlay">
                  <a class="portfolio-zoom fa fa-plus"
                   href="<%=asset_path("photos/face.jpg")%>"
                   data-rel="prettyPhoto[portfolio]" title="Otto Tschudi of Norway raced on the World Pro Skiing Tour from 1973 through its final year in 1981.   Today, among other activities, Otto serves on the Board of Directors of his alma mater, University of Denver.  He is also Vice President of Stifel Investments."></a>

                  <div class="item_img_overlay_content">
                    <h3 class="thumb-label-item-title">
                      Otto Tschudi
                    </h3>
                  </div>

                </div>
              </div>


            </div>
            <!-- //Portfolio Item// -->
            <!-- Portfolio Item -->
            <div class="thumb-label-item animated videos"
               data-animtype="fadeInUp"
               data-animrepeat="0"
               data-speed="1s"
               data-delay="1.6s">
              <div class="img-overlay thumb-label-item-img">
                <%=image_tag "photos/interview.jpg", alt:""%>

                <div class="item-img-overlay">
                  <a class="portfolio-zoom fa fa-plus"
                   href="<%=asset_path("photos/interview.jpg")%>"
                   data-rel="prettyPhoto[portfolio]" title="Edwin Halsnes of Norway"></a>

                  <div class="item_img_overlay_content">
                    <h3 class="thumb-label-item-title">
                      Edwin Halsnes
                    </h3>
                  </div>

                </div>
              </div>


            </div>
            <!-- //Portfolio Item// -->
            <!-- Portfolio Item -->
            <div class="thumb-label-item animated seo"
               data-animtype="fadeInUp"
               data-animrepeat="0"
               data-speed="1s"
               data-delay="1.8s">
              <div class="img-overlay thumb-label-item-img">
                <%=image_tag "photos/race.jpg", alt:""%>

                <div class="item-img-overlay">
                  <a class="portfolio-zoom fa fa-plus"
                   href="<%=asset_path("photos/race.jpg")%>"
                   data-rel="prettyPhoto[portfolio]" title="Henri Duvilliard of France won 16 out of 21 races in the winter of 1975-76, skating to the World Pro Skiing Tour Champion title."></a>

                  <div class="item_img_overlay_content">
                    <h3 class="thumb-label-item-title">
                      Henri Duvilliard
                    </h3>
                  </div>

                </div>
              </div>


            </div>
            <!-- //Portfolio Item// -->
            <!-- Portfolio Item -->
            <div class="thumb-label-item animated web-design"
               data-animtype="fadeInUp"
               data-animrepeat="0"
               data-speed="1s"
               data-delay="2s">
              <div class="img-overlay thumb-label-item-img">
                <%=image_tag "photos/start.jpg", alt:""%>

                <div class="item-img-overlay">
                  <a class="portfolio-zoom fa fa-plus"
                   href="<%=asset_path("photos/start.jpg")%>"
                   data-rel="prettyPhoto[portfolio]" title="World Pro Skiing Champion Andre Arnold (number 1) duels head-to-head with fellow Austrian, Hans Hinterseer, during the John Denver Celebrity Pro Am at Heavenly Valley in 1980."></a>

                  <div class="item_img_overlay_content">
                    <h3 class="thumb-label-item-title">
                      Arnold and Hinterseer
                    </h3>
                  </div>

                </div>
              </div>


            </div>
            <!-- //Portfolio Item// -->


          </div>
        </div>
      </div>

    </div>
    <div class="space-sep40"></div>

    <div class="section-content section-tabs section-px stones-bg white-text">
      <div class="tab-container">
        <div class="section-tab-arrow"></div>
        <div class="section-etabs-container">
          <ul class="section-etabs">
            <li class="tab active">
              <a href="#tabc2"> Sponsors</a>
            </li>
          </ul>
        </div>
        <div class="container">

          <div class="tab-content">
            <div id="tabc2">
              <div class="row">
                <div class="col-md-12 col-sm-12">
                  <h2 class="h2-section-title animated" data-animtype="flipInX" data-animrepeat="0" data-animspeed="1s" data-animdelay="0s">Our Sponsors</h2>
                  <h3 class="h3-section-info animated" data-animtype="flipInX" data-animrepeat="0" data-animspeed="1s" data-animdelay="0.2s">The World Pro Skiing Foundation is incredibly grateful for support from the following sponsors.</h3>
                  <ul class="section-clients">
                    <li class="animated" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.2s"><%=image_tag "logos/saucony-logo.png", alt:"Saucony", class:"img-responsive client-image"%></li>
                    <li class="animated" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.3s"><%=image_tag "logos/converse-logo.png", alt: "Converse", class:"img-responsive client-image", style: "margin-top:-30px"%></li>
                  </ul>
                </div>
              </div>      
            </div>
          </div>
        </div>
      </div>  
    </div>

    <div class="space-sep40"></div>

    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 animated" data-animtype="fadeInUp"
           data-animrepeat="0"
           data-speed="1s"
           data-delay="0.4s">
          <div class="anchor">
            <a name="mission">&nbsp;</a>
          </div>
          <h2 class="h2-section-title">Our Mission</h2>

          <div class="i-section-title">
            <i class="icon-files"></i>
          </div>

          <h3 class="h3-section-info">The World Pro Skiing Foundation creates World Class People, helping mentor elite athletes for their post athletic careers, building character and competence, channeling and leveraging the unique attributes of these high achievers as they transition to making world class contributions to society.</h3>
        </div>

      </div>

      <div class="row">
        <div class="col-md-12 col-sm-12 no-bottom-margin animated" data-animtype="fadeInUp"
           data-animrepeat="0"
           data-animspeed="1s"
           data-animdelay="0.7s">
          <%=image_tag "photos/celebrate_trans.jpg", alt:"MockUp", class:"img-responsive full-width" %>
        </div>
      </div>
    </div>
    
  </div>
</div><!--.content-wrapper end -->
